#### 1. Install Library Pandas

In [52]:
# %pip install pandas

#### 2. Import Library

In [53]:
import pandas as pd
import locale

#### 3. Set locale ke Indonesia untuk menggunakan format mata uang Rp

In [54]:
locale.setlocale(locale.LC_ALL, 'id_ID')

'id_ID'

#### 4. Read Dataset

In [55]:
df = pd.read_csv("tx_data.csv")

#### 5.  Ubah format nomor telepon dengan awalan +62

In [56]:
df['phone_number'] = df['phone_number'].apply(lambda x: '+62' + str(x))

#### 6. Ubah format nilai transaksi menjadi "Rp 12.000"

In [57]:
df['transaction_amount'] = df['transaction_amount'].map(lambda x: 'Rp {:n}'.format(x))

#### 7. Filter data berdasarkan status transaksi success

In [58]:
df = df[df['transaction_status'] == 'success']

#### 8. Melakukan reset index agar berurutan

In [59]:
df = df.reset_index(drop=True)

#### 9. Tampilkan 10 Baris Pertama

In [60]:
df.head(10)

,transaction_id,customer_name,transaction_amount,phone_number,transaction_type,transaction_status
0,1,John Thor,Rp 54.000,+6281234564030,paket data,success
1,2,Jane Smith,Rp 25.000,+6281234567891,pulsa,success
2,4,Emily Davis,Rp 32.000,+6281234567893,paket data,success
3,6,Susan Anderson,Rp 61.000,+6281234567895,voucher game,success
4,7,Robert Clark,Rp 29.000,+6281234567896,pulsa,success
5,10,Elizabeth White,Rp 54.000,+6281234567899,pulsa,success
6,11,James Taylor,Rp 25.000,+6281234567810,voucher game,success
7,14,Linda Martinez,Rp 45.000,+6281234567813,paket data,success
8,15,Thomas Harris,Rp 61.000,+6281234567814,pulsa,success
9,16,Barbara Hall,Rp 29.000,+6281234567815,voucher game,success

#### 10. Tampilkan 10 Baris Terakhir

In [61]:
df.tail(10)

,transaction_id,customer_name,transaction_amount,phone_number,transaction_type,transaction_status
60,103,Charles Jackson,Rp 32.000,+6281234567812,paket data,success
61,105,Thomas Rodriguez,Rp 61.000,+6281234567814,voucher game,success
62,109,Michael Martin,Rp 54.000,+6281234567818,paket data,success
63,110,Patricia Harris,Rp 25.000,+6281234567819,paket data,success
64,111,William Martinez,Rp 75.000,+6281234567820,voucher game,success
65,114,Sharon Anderson,Rp 61.000,+6281234567823,pulsa,success
66,115,David Davis,Rp 29.000,+6281234567824,ewallet,success
67,116,Mary Hall,Rp 48.000,+6281234567825,paket data,success
68,118,Elizabeth Turner,Rp 54.000,+6281234567827,pulsa,success
69,119,Robert Smith,Rp 25.000,+6281234567828,voucher game,success

#### 11. Simpan hasil data cleaning ke dalam file CSV

In [62]:
df.to_csv("cleaned_data.csv", index=False)